@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}
.container {
    background-image: url(images/Rectangle.png);
   min-height: 50px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .logo {
    float: left;
    color: #ffffff
    padding: 10px 0px 0px 20px;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 500;
    font-family: Roboto;
    color: white
    margin-left: 20px;
    margin-top: 10px;
    
  }

  .navigation {
    float: right;
  }
  nav ul {
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
  }
  nav li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 500;
    font-family: Roboto;
    color: white
    font-style: medium;
  }

.container:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  
  padding: 15px;
  margin: 0 auto;
}
li {
	border-right: 1px solid #ffffff;
  padding-left: 10px;
}
li:last-child {
	border-right: none
}
a {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
 } 
 a:link, a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
.image {
  background-image: url(images/image\ \(4\).png);
  min-height: 400px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;


}
.PiperNet {
 
  color: white;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 50px;
  Font-family: Roboto;
  Font-style: Medium;
  Font-size: 100px;
  line-height: 84.38px;
  text-align: center;
  
}
.main {
    font-family: Roboto;
    background-color: #eeeeee;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0px;
    margin-top: -50px;
  }
  h1 {
    text-align: center;
    color: #007765;
    font-size: 64px;
    font-style: medium;
    line-height: 100%;
    line-height: 75px;
    vertical-align: top;
    padding-top: 40px;
  }
  .text {
    font-style: mixed;
    font-size: 32px;
    line-height: 37.5px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    background-blend-mode: pass through;
    padding: 0px 30px 60px 30px;
    
  }
  .block {
    background-image: url(images/image\ \(5\).png);
    min-height: 400px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: -40px;
color:#ffffff;
padding-top: 20px;
font-family: Roboto;
    font-style: medium italic;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
    vertical-align: top;
  }

 .introducing {
  margin-top: -50px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 5px 10px 30px 10px;
 }
 .circle {
   float: left;
   width: 115px;
   height: 115px;
   top: 1828px;
   left: 55px;
   background-blend-mode: pass through;
  margin-right: 50px;
  
   
 }
 

 .logotip {
  font-family: roboto;
  font-style: mixed;
  font-size: 32px;
  line-height: 37.5px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  font-weight: 400px;
  width: 1780px;
  
  
  
}
.texts {
  font-family: roboto;
  font-style: mixed;
  font-size: 32px;
  line-height: 37.5px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  font-weight: 400px;
  width: 1780px;
}
.team {
  background-color: #eeeeee;
  margin: -30px;
  margin-bottom: 100px;
}
table.one {
  margin-top: 50px;
  margin-left: 146px;
  margin-right: 145px;
  
}

td.one_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 146px;
  background-blend-mode: pass through;
 padding-right: 250px;
 
}
td.two_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 526px;
  background-blend-mode: pass through;
  padding-right: 250px;
  
}
td.three_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 906px;
  background-blend-mode: pass through;
 
}
tr.two_tr {
  color: #007765;
 
  
}
th.one_h1 {
width: 199px;
height: 29px;
top: 2652px;
left: 132px;
padding-left: 60px;
padding-right: 50px;
text-align: left;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
vertical-align: top;



}
th.two_h1 {
  width: 350px;
height: 29px;
top: 2652px;
left: 435px;
background-blend-mode: pass through;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
text-align: left;
vertical-align: top;

background-blend-mode: pass through;
padding-left: 80px;
}
th.three_h1 {
  width: 350px;
height: 29px;
top: 2652px;
left: 815px;
background-blend-mode: pass through;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
text-align: left;
vertical-align: top;

background-blend-mode: pass through;
padding-left: 80px;
}
tr.three_tr {
  color: #000000;
}
td.one_p {
width: 118px;
height: 22px;
top: 2681px;
left: 170px;
font-family: roboto;
font-style: italic;
font-size: 18px;
line-height: 21.09px;
text-align: left;
vertical-align: top;
padding-left: 90px;
padding-right: 60px;
}
td.two_p{
  width: 350px;
  height: 22px;
  top: 2681px;
  left: 435px;
  font-family: roboto;
  font-style: italic;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  vertical-align: top;
  padding-left: 85px;
}
td.three_p {
    width: 350px;
    height: 22px;
    top: 2681px;
    left: 815px;
    font-family: roboto;
font-style: italic;
font-size: 18px;
line-height: 21.09px;
text-align: left;
vertical-align: top;
padding-left: 75px;
}

table.two_two {
  margin-top: 50px;
  margin-left: 146px;
  margin-right: 145px;
  
}

td.four_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 146px;
  background-blend-mode: pass through;
 padding-right: 250px;
 
}
td.five_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 526px;
  background-blend-mode: pass through;
  padding-right: 250px;
  
}
td.six_img {
  width: 168px;
  height: 168px;
  top: 2472px;
  left: 906px;
  background-blend-mode: pass through;
 
}
tr.five_tr {
  color: #007765;
 
  
}
th.four_h1 {
width: 199px;
height: 29px;
top: 2652px;
left: 132px;
padding-left: 110px;
padding-right: 60px;
text-align: left;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
vertical-align: top;



}
th.five_h1 {
  width: 350px;
height: 29px;
top: 2652px;
left: 435px;
background-blend-mode: pass through;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
text-align: left;
vertical-align: top;

background-blend-mode: pass through;
padding-left: 100px;
}
th.six_h1 {
  width: 350px;
height: 29px;
top: 2652px;
left: 815px;
background-blend-mode: pass through;
font-family: roboto;
font-style: bold;
font-size: 24px;
line-height: 28.13px;
text-align: left;
vertical-align: top;

background-blend-mode: pass through;
padding-left: 100px;
}
tr.six_tr {
  color: #000000;
}
td.four_p {
width: 118px;
height: 22px;
top: 2681px;
left: 170px;
font-family: roboto;
font-style: italic;
font-size: 18px;
line-height: 21.09px;
text-align: left;
vertical-align: top;
padding-left: 90px;
padding-right: 60px;
}
td.five_p{
  width: 350px;
  height: 22px;
  top: 2681px;
  left: 435px;
  font-family: roboto;
  font-style: italic;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  vertical-align: top;
  padding-left: 85px;
}
td.six_p {
    width: 350px;
    height: 22px;
    top: 2681px;
    left: 815px;
    font-family: roboto;
font-style: italic;
font-size: 18px;
line-height: 21.09px;
text-align: left;
vertical-align: top;
padding-left: 120px;
padding-bottom: 100px;
}
footer {
  background-color: #333333;
  margin-top: -100px;
  
  margin-right: -100px;
  
  padding-left: 700px;
  padding-right: 340px;
  margin-bottom: -50px;
  margin-left: -50px;
  
}
p.footer_f {
  width: 540px;
  height: 64px;
  top: 3186px;
  left: 340px;
  background-blend-mode: pass through;
  font-family: roboto;
  font-style: regular;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  vertical-align: top;
  color: #ffffff
  
}